extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center=pagina
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h2 Un Icono Inmortal de Francia
                blockquote La Torre Eiffel, uno de los íconos más reconocidos y queridos del mundo, se alza majestuosamente en el corazón de París, la Ciudad de la Luz. Construida para la Exposición Universal de 1889, esta maravilla arquitectónica fue diseñada por Gustave Eiffel y su equipo de ingenieros. Con sus 324 metros de altura, la Torre Eiffel fue la estructura más alta del mundo en su época y sigue siendo un testimonio impresionante de la habilidad y visión de la ingeniería del siglo XIX. 

                p La Torre Eiffel es mucho más que una estructura de acero y hierro; es un símbolo del romance y la cultura francesa. Su elegante diseño y su ubicación en el corazón de París la convierten en un escenario perfecto para propuestas de matrimonio, bodas y momentos especiales. Las luces titilantes de la Torre Eiffel al anochecer, conocidas como "La Hora Mágica", añaden un toque de encanto adicional.

                p La Torre Eiffel es una visita obligada en París para cualquier viajero. Su ascenso a la cima brinda una perspectiva única de la ciudad y permite apreciar la belleza y la grandiosidad de París en su totalidad. A lo largo del año, la Torre Eiffel se ilumina en ocasiones especiales, y eventos y espectáculos se celebran a sus pies.
                
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  En nuestra agencia de viajes, la seguridad de nuestros clientes es lo primero. Estamos comprometidos a garantizar que cada aspecto de tu viaje esté diseñado con medidas de seguridad de alta calidad.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono",class="img-fluid mb-4")
                    h2.mb-4 Destino
                    p  Cada viaje comienza con un destino, y en nuestra agencia de viajes, te ofrecemos una amplia gama de destinos emocionantes para explorar. Ya sea que sueñes con playas paradisíacas, ciudades históricas o aventuras en la naturaleza, tenemos el destino perfecto para ti.
                .col-md-4
                    img(src="img/icono_Precios.svg", alt="Icono",class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p  Encontrar la mejor relación calidad-precio es esencial cuando planificas tus vacaciones. En nuestra agencia de viajes, nos enorgullece ofrecer ofertas y precios competitivos para que puedas aprovechar al máximo tu presupuesto de viaje.
                
